/* Imports and other stuff */
@import 'fonts.css';
@import 'reset.css';
@import 'animations.css';
@import 'shapes.css';
@import 'viewport.css';
@import 'footer.css';

body {
    font-family: 'LunchType-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

*::selection {
    background-color: #90F;
    /*mix-blend-mode: color-dodge;*/
}

*:focus {
    outline-color: #90f;
    border: 0px solid transparent;
    /*background: #90f;*/
}

.section {
    min-height: 100vh;
    display: flex;
    position: relative;
}

/* Helper class that adds padding to our sections and can be re-used */
.section-pad {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    max-width: 810px;
    margin: auto;
}

.intro {
    background-image: url('../img/intro.jpg');
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: 112px;
}

.logo img {
    width: 100%;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.appear {
/* Set opacity as starting point */
    opacity: 0;
    animation: fadeIn 2.5s forwards ease-out;
    /*animation-duration: 5s;
    animation-delay: 0s;*/
/* Tells it to stay on final frame of animation i.e. end-state stays the same */
    /*animation-fill-mode: forwards;*/
}

.marquee {
    font-family: 'LunchType-Medium', sans-serif;
    color: #ff0;
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
/* Each letter will be 5% of the viewport width (vw) */
    font-size: 5vw;
    line-height: 1;
/* Will stop the long text from causing scroll bars by handing outside of the marquee box area */
    overflow: hidden;
}

.marquee span {
/* This is the shorthand brief version of animation syntax css rule*/
    animation: moveLeft 200s infinite linear;
/* Ensures that the text stays on one line */
    white-space: nowrap;
/* Our span is inline by default, here we tell it to be block */
    display: block;
/* This will let us add our animation */
    position: relative;
}

.mix-difference {
/* Our mix blend mode allows us to mix the current layer's style colours with that of what's behind it to create cool effects */
    mix-blend-mode: difference;
}

.day-1 {
    background-color: #fd76a7;
}

.day-2 {
    background-color: #1bb190;
}

.day-3 {
    background-image: url('../img/day-3.jpg');
}

.day {
/* So the shapes position in relation to the day sections */
    position: relative;
    text-align: center;
    overflow: hidden;
}

.day .container {
/* This will force our content to display on top of our shapes */
    position: relative;
    z-index: 51;
}

.date {
    font-family:'LunchType-Medium', sans-serif;
    font-size: 28px;
    color: #ffeecf;
    margin-bottom: 48px;
    line-height: 1;
}

.lineup h2 {
    font-family:'LunchType-Medium', sans-serif;
    font-size: 56px;
    line-height: 1;
    margin-bottom: 6px;
}

.lineup p {
    font-size: 21px;
    margin-bottom: 26px;
}

.scroll-to {
    position: absolute;
    left: 50%;
    bottom: 3vh;

    width: 64px;
    height: 32px;

    background-image: url('../img/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    mix-blend-mode: overlay;

    animation: arrowDown 2s infinite ease-out;
}

.scroll-to-intro {
    background-image: url('../img/down-arrow-light.svg');

    mix-blend-mode: color-dodge;
}

@media (max-width: 640px) {
    .marquee {
        /* Here we reset our marquee back to its default poisiton */
        position: relative;
        animation-duration: 500s;
        top: auto;
        left: auto;
        margin-bottom: 24px;
        width: 90vw;
    }

    .intro p {
        font-size: 20px;
    }

    .logo {
        max-width: 64px;
        margin-bottom: 20px;
    }

    .scroll-to {
        display: none;
    }

    .lineup h2 {
        font-size: 30px;
    }
}
